<div *ngIf="isForgetPasswordError" class="alert alert-danger text-center"  role="alert">
    Hubo un error con tu correo electrónico
  </div>

<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reiniciar tu contraseña</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Reiniciar la contraseña de tu usuario</h4>
          <p>Entra tu correo electrónico, y se enviará un correo con tu nueva contraseña</p>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="OnSubmit(email.value)">
          <div class="form-group">
            <div class="form-label-group">
              <input type="email"#email ngModel name="email" class="form-control" required="required" autofocus="autofocus">
              <label for="inputEmail">Entra correo electrónico</label>
            </div>
          </div>
          <button  class="btn btn-primary btn-block" type="submit">Reiniciar contraseña</button>
        </form>
      </div>
    </div>
  </div>