<div class="row">
  <a routerLink='/insert-rol' class="btn btn-primary btn-lg btn-block">Agregar un nuevo rol</a>
</div>
<hr>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table table-bordered" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Ver</th>
        <th>Eliminar</th>
      </tr>
    </thead>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseas eliminar el rol: {{dataDelete.name}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" #btnClose class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="deleteRol()" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>