<div style="text-align:center">
  <h1>
    <nav>
          <a routerLink="/results">Results</a> |
          <a routerLink="/editor">Editor</a> |
          <a routerLink="/survey">Survey</a>
    </nav>
    <router-outlet></router-outlet>
  </h1>
</div>
<!-- <h1>Survey</h1><survey [json]="json"></survey> -->

<!-- <h1>Survey JS Editor</h1><survey-editor [json]="json" (surveySaved)="onSurveySaved($event)"></survey-editor> -->

<!-- <app-survey-versioning></app-survey-versioning> -->

<!-- <app-results-display></app-results-display> -->
