    <div class="row">
        <a routerLink='/Adicionar' class="btn btn-primary btn-lg btn-block">Agregar un nuevo usuario</a>
    </div>
    <div class="row">
        <div class="col s12">
          <table datatable [dtOptions]="dtOptions" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Correo Electronico</th>
                  <th>Nombre completo</th>
                  <th>Opciones</th>
                </tr>
              </thead>
            </table>
        </div>
    </div>