  <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="row">
        <div class="form-group">
         <input type="text" #primerNombre="ngModel" [(ngModel)]="user.primerNombre" name="primerNombre" placeholder="Primer nombre" required>
         <label data-error="Campo requerido!">Primer Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
         <input type="text"  #segundoNombre="ngModel" [(ngModel)]="user.segundoNombre" name="segundoNombre" placeholder="Segundo nombre">
        </div>
      </div>
      <div class="row">
          <div class="form-group">
           <input type="text" #primerApellido="ngModel" [(ngModel)]="user.primerApellido" name="primerApellido" placeholder="Primer Apellido" required>
           <label data-error="Campo requerido!">Primer apellido</label>  
        </div>
      </div>
      <div class="row">
          <div class="form-group">
           <input type="text" #segundoApellido="ngModel" [(ngModel)]="user.segundoApellido" name="segundoApellido" placeholder="Segundo Apellido">
          </div>
      </div>
      <div class="row">
          <div class="form-group">
           <input type="email"  #email="ngModel" [(ngModel)]="user.email" name="email" required>
           <label data-error="Campo requerido!">Primer apellido</label>  
          </div>
      </div>
      <div class="row">
          <div class="form-group">
           <input type="password"  #password="ngModel" [(ngModel)]="user.password" minlength="6" required>
           <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Necesita por lo menos 6 caracteres'):''">contrasena</label>
          </div>
      </div>
      <div class="row">
        <label ng-repeat="rol in roles">
            <input type="checkbox" ng-model="user.roles[rol.id]" value="{{rol.id}}"> {{rol.nombre}} 
        </label>
      </div>
      <div class="row">
        <div class="form-group">
          <button [disabled]="!loginForm.valid" class="btn btn-primary btn-lg" type="submit">Ingresar</button>
        </div>
      </div>
  </form>