<div *ngIf="isLoginError" class="alert alert-danger text-center"  role="alert">
  Correo Electrónico o contraseña incorrecta
</div>
<form #loginForm="ngForm" (ngSubmit)="OnSubmit(email.value,Password.value)">
   <div class="row">
     <div class="form-group">
      <input type="email" #email ngModel name="email" placeholder="Correo Electrónico" required>
     </div>
   </div>
   <div class="row">
      <div class="form-group">
        <input type="password" #Password ngModel name="Password" placeholder="contraseña" required>
      </div>
    </div>
    <div class="row">
       <div class="form-group">
          <a routerLink='/Adicionar' class="btn btn-primary">Regresar</a>
       </div>
        <div class="form-group">
          <button [disabled]="!loginForm.valid" class="btn btn-primary btn-lg" type="submit">Ingresar</button>
        </div>
      </div>
</form>